/back/MS.Auth/MS.Auth.Api/bin
/back/MS.Auth/.vs/MS.Auth.Api/FileContentIndex
/back/MS.Auth/MS.Auth.Api/obj
/back/MS.Auth/MS.Auth.Application/obj
/back/MS.Auth/MS.Auth.Api/bin
/back/MS.Auth/MS.Auth.Api/obj
/back/MS.Movimientos/MS.Movimiento.Infrastructure/obj
/back/MS.Movimientos/MS.Movimiento.Domain/obj
/back/MS.Productos/MS.Producto.Domain/obj
/back/MS.Auth/MS.Auth.Api/obj
/back/MS.Auth/MS.Auth.Infrastructure/obj
/back/MS.Compras/MS.Compra.Api/obj
/back/MS.Compras/MS.Compra.Infrastructure/obj
/back/MS.Movimientos/MS.Movimiento.Api/obj
/back/MS.Productos/MS.Producto.Api/bin
/back/MS.Productos/MS.Producto.Infrastucture/obj
/back/MS.Ventas/MS.Venta.Application/obj
/back/MS.Movimientos/MS.Movimiento.Infrastructure/obj
/back/MS.Compras/MS.Compra.Infrastructure/obj
/back/MS.Compras/MS.Compra.Application/obj
/back/MS.Auth/.vs/MS.Auth.Api/FileContentIndex
/back/MS.Auth/.vs/MS.Auth.Api/CopilotIndices
