<div class="modal">
    <div class="modal-content" style="min-width:320px;max-width:420px;width:95vw;">
      <h3>Registrar Producto</h3>
      <form >
        <div class="form-group">
          <label>Nombre Producto:</label>
          <input #inputNombreProducto type="text" [(ngModel)]="productoNuevo.nombreProducto" maxlength="50" name="nombreProducto" required />
        </div>
        <div class="form-group">
          <label>Nro Lote:</label>
          <input type="number" [(ngModel)]="productoNuevo.nroLote" name="nroLote" />
        </div>
        <div class="form-group">
          <label>Costo:</label>
          <input type="number" [(ngModel)]="productoNuevo.costo" name="costo"  (input)="limitarDecimales($event, 2, 'productoNuevo', 'costo')" />
        </div>
        
        <div style="height: 1.1rem;"></div>
        <div style="display: flex; gap: 1rem;">
          <button type="submit" (click)="registrarProducto()"  style="flex:1; min-width:120px;">Registrar</button>
          <button type="button" (click)="close()" style="flex:1; min-width:120px;">Cancelar</button>
        </div>
      </form>
    </div>
  </div>